<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FrontEnd-Lumina.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="fixed-top">
        <nav class="nav-bar d-flex justify-content-between align-items-center">
            <img class="logo ms-5" src="~/img/logo.svg" alt="Logo de Lumina Resort">
            <ul class="nav nav-pills me-5">
                @if (User.Identity.IsAuthenticated)
                {

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Reserva" asp-action="ListaReservas">Reservas</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Paquete" asp-action="ListaPaquetes">Paquetes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Hola @User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Logout">Cerrar sesión</a>
                    </li>
                }
                else
                {
                    <li class="nav-item"><a href="#Home" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#AboutUs" class="nav-link">About Us</a></li>
                    <li class="nav-item"><a href="#Packages" class="nav-link">Our Packages</a></li>
                    <li class="nav-item"><a href="#Contact" class="nav-link">Contact</a></li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Login">Login</a>
                    </li>
                }        
            </ul>
        </nav>
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
