@model LuminaResort.Models.Reserva

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="separar">Edit</h1>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCedula" class="control-label"></label>
                <input asp-for="TipoCedula" class="form-control" />
                <span asp-validation-for="TipoCedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCompleto" class="control-label"></label>
                <input asp-for="NombreCompleto" class="form-control" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPaquete" class="control-label"></label>
                <input asp-for="TipoPaquete" class="form-control" />
                <span asp-validation-for="TipoPaquete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPago" class="control-label"></label>
                <input asp-for="TipoPago" class="form-control" />
                <span asp-validation-for="TipoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadNoches" class="control-label"></label>
                <input asp-for="CantidadNoches" class="form-control" />
                <span asp-validation-for="CantidadNoches" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadPersonas" class="control-label"></label>
                <input asp-for="CantidadPersonas" class="form-control" />
                <span asp-validation-for="CantidadPersonas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoTotalReservacion" class="control-label"></label>
                <input asp-for="CostoTotalReservacion" class="form-control" />
                <span asp-validation-for="CostoTotalReservacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroCheque" class="control-label"></label>
                <input asp-for="NumeroCheque" class="form-control" />
                <span asp-validation-for="NumeroCheque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Banco" class="control-label"></label>
                <input asp-for="Banco" class="form-control" />
                <span asp-validation-for="Banco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descuento" class="control-label"></label>
                <input asp-for="Descuento" class="form-control" />
                <span asp-validation-for="Descuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoTotalReservacionDolares" class="control-label"></label>
                <input asp-for="CostoTotalReservacionDolares" class="form-control" />
                <span asp-validation-for="CostoTotalReservacionDolares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdReservacion" class="control-label"></label>
                <input asp-for="IdReservacion" class="form-control" />
                <span asp-validation-for="IdReservacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListaReservas">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
